<div class="panel panel-default feature-item">
	<div class="panel-heading">
		<h3 class="panel-title inline-block">{{item.id}}{{#if item.preferred}} - Preferred{{/if}} {{#if item.active}} - Active{{/if}}</h3>
		{{#unless item.active}}
			<button type="button" class="btn btn-primary btn-xs pull-right" {{action 'switchAccount' item.id}}>Switch</button>
		{{/unless}}
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-6">
				<p>Account Type: {{item.accountType}}</p>
				<p>Account Name: {{item.accountName}}</p>
				<p>Currency: {{item.currency}}</p>
				<p>Status: {{item.status}}</p>
			</div>
			<div class="col-xs-6">
				<p>Funds: £{{item.FUNDS}}</p>
				<p>Margin: £{{item.MARGIN}}</p>
				<p>Equity: £{{item.EQUITY}}</p>
				<p>Available: £{{item.AVAILABLE_TO_DEAL}}</p>
				<p>PNL: £{{item.PNL}}</p>
			</div>
		</div>
	</div>
</div>
